[core]
	excludesfile = /Users/saori/.gitignore_global
[user]
	name = nnsaori
	email = saori07208@gmail.com

[diff]
	tool = vimdiff
	compactionHeuristic = true
	indentHeuristic = true

[difftool]
	prompt = false
[merge]
	tool = vimdiff

[mergetool]
	prompt = false
